modules = ["nodejs-20"]

[[ports]]
localPort = 8080
externalPort = 80

[workflows]
runButton = "Dev Server"

[[workflows.workflow]]
name = "Build and Serve"
author = 41271515
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"

[[workflows.workflow]]
name = "Dev Server"
author = 41271515
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run serve -- --host 0.0.0.0"
